.page {
  background: #efefef;
  padding: 20px;
  text-align: center;

  &__wrapper {
    background: #efefef;
    padding: 40px 20px;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-left: 10px;
  }
}
